bin/
pkg/
*.exe
*.exe~
*.dll
*.so
*.dylib

.cache

*.out

*.o
*.a

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

.env
.env.*

*~
*.swp
*.swo

# macOS files
.DS_Store

# Windows files
Thumbs.db
Desktop.ini

